%p.words= lorem.words 3
%p.sentences= lorem.sentences 2
%p.paragraphs= lorem.paragraphs 1
%p.date= lorem.date('%Y-%m-%d')
%p.name= lorem.name
%p.email= lorem.email
%img{:src => lorem.image(400, 300, true)}
