%p.words= lorem.words 3, 'replace-this'
%p.sentences= lorem.sentences 2, 'replace-this'
%p.paragraphs= lorem.paragraphs 1, 'replace-this'
%p.date= lorem.date '%Y-%m-%d', 'replace-this'
%p.name= lorem.name 'replace-this'
%p.email= lorem.email 'replace-this'
%img{:src => lorem.image(400, 300, true, 'replace-this')}
