!!! Strict
%html
  %head
    %title= "404 &ndash; Not Found"
    %style{:type=>'text/css'}
      :plain
        body { color: #222; font:14px "Helvetica", "Arial"; line-height: 20px; }
        #wrapper { margin:0px auto; width:300px; }
        h1 { margin: 24px -30px 10px -3px; font: bold 48px Georgia; line-height:48px;}
        img { margin: 60px 0px 0px -22px; }
        tt { color: #4D9EEF; color:#999; font-family: Inconsolata, Monaco, monospace }
  %body
    #wrapper
      %img{:src=>'/__frank__/frank-404.png'}
      %h1= "Not Found&mdash;"
      %p
        - if request['REQUEST_PATH']
          - path = request['REQUEST_PATH'][1..-1]
          = "Try creating"
          
          - if path.match(/\.css$/)
            = "<tt>#{path.match(/([\w\/]+)\./)[1]}.sass</tt>"
          - elsif path.match(/\.js$/)
            = "<tt>#{path.match(/([\w\/]+)\./)[1]}.coffee</tt>"
          - else
            = "<tt>#{path.gsub(/\/$/, '')}.haml</tt>"
          = "in the <tt>#{dynamic_folder}</tt> folder, or"
          
          - if path.match(/\.\w+/)
            = "<tt>#{path}</tt>"
          - else
            = "<tt>#{path.gsub(/\/$/, '')}.html</tt>"
          = "in the <tt>#{static_folder}</tt> folder."